<div class="wrapper">

    <!-- header -->
    <div class="pageHeader mainTheme">
        <p>Main</p>
    </div>


    <div class="pageBody">
        <p>Here is a message from angular:</p>
        {{message}}

        <br/>
        Try checking out <a ng-href="/#users">users</a>.

        <hr />
        <div>Angular seed app: v<span app-version></span></div>
    </div>



</div>