/* app css stylesheet */

/*Fonts*/
@font-face {
    font-family: RobotoRegular;
    src: url(bower_components/roboto-fontface/fonts/Roboto-Regular.woff);
}

/*Main layouts*/
* {
    margin: 0;
}
html {
    height:100%;
}

body {
    font-family: RobotoRegular;
    font-size: 1em;
    height:100%;
}

.pageHeader {
    color: #FFFFFF;
    background: #009688;
    height: 2em;
    padding: 1em 0 1em 3em;
    margin: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}


.pageHeader p {
    font-size: 1.3em;
}

.pageBody {
    margin-top: 1em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: -3em;
    padding-bottom: 3em;
}

.wrapper {
    position:relative;
    min-height:100%;
}

.push {
    height: 3em;
}

.pageFooter {
    color: #FFFFFF;
    background: #009688;
    clear:both;
    height: 3em;
    width: 100%;
    padding: 1em 0 0 3em;
}

.pageFooter a {
    color: #FFFFFF;
    font-size: 1.2em;
}

a {
   /*text-decoration: none;*/
   color: #2F3B53;
    -webkit-transition: color 500ms;
}

a:hover, a:active {
    color: #FFC2A3;
}

a:visited {

}

/*Color Schemes*/

.menuTheme {
    color: #FFFFFF;
    background: #2F3B53;
}

.mainTheme {
    color:#FFFFFF;
    background: #465166;
}


/*MENU*/
.menu {
    text-decoration: none;
    padding: 0.1em 3em 0.1em 3em;
}

.menu ul {
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
.menu li {
    display: inline;
    margin: 0 0.5em 0 0.5em;
}

.menu li:first-child {
    margin: 0 0.5em 0 0;
}

/*.menu li::after {*/
    /*content: ' |';*/
/*}*/

.menu a {
    color: #FFFFFF;
    text-decoration: none;
    -webkit-transition: color 500ms;
}

.menu a:hover, .menu a:active {
    color: #FFC2A3;
}


/*Elements*/


form p {
    font-weight: bold;
    margin-bottom: 0.25em;
}

form input[type=submit], form input[type=button]{
    margin: 0.5em 0 0.5em 0;
}

select {
    color: #000000;
}


/*Grid Stuff*/

.thumbnailDiv {
    height: 100px;
    width: 100px;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    /*border: 1px solid black;*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}


.gridRow {
    min-height: 125px;
    border-bottom: 1px solid lightgrey;
    -webkit-transition: box-shadow 250ms, min-height 250ms;

}

.gridRow:hover {
    box-shadow: 0px 5px 7px rgba(0,0,0,0.26);
    min-height: 140px;
}


.gridCol {
    padding: 1em;
    float:left;
    display:block;
    height: initial;
    width:initial;
}


.userInfoSection {
    padding-top: .5em;
    padding-bottom: .5em;
    width:50%;
}

.gridOptions {
    width: 100%;
    height: 3em;
}

.secondaryText {
    font-size: 0.75em;
}

.clear {
    clear: both;
}


