<!-- header -->
<div class="pageHeader mainTheme">
    <p>Edit User: {{oldUser.Username}}</p>
</div>

<div ng-show="error">
    {{error}}
</div>

<div class="pageBody">
    <div style="clear:both;">
        <div style="float: left; padding-right: 50px;">
            <img src='images/{{user.ThumbnailImage}}' style="max-width:250px; max-height: 250px;" />
        </div>
        <div style="float: left;">
            <form novalidate name="userDetailsForm" ng-submit="updateUser(user)">
                <p>First Name</p>
                <input type="text"  ng-maxlength="50"  required placeholder="First Name" ng-model="user.FirstName" />
                <p>Last Name</p>
                <input type="text" ng-maxlength="50" required placeholder="Last Name" ng-model="user.LastName" />
                <p>Username</p>
                <!-- todo: check for dups, custom validators, etc. -->
                <input type="text" maxlength="50" required placeholder="Username" name="username" ng-model="user.Username" />
                <p>Email</p>
                <input type="email" maxlength="200" required placeholder="Email" ng-model="user.Email" />
                <br />
                <input type="hidden" ng-model="user.DateCreated" />
                <input type="hidden" ng-model="user.Archived" />
                <input type="button" ng-click="resetUser()" value="Undo changes" />

                <input type="submit" value="Submit"/>
            </form>
            <a ng-href="/#users/">Back to List</a>
        </div>
    </div>
    <br style="clear:both;" />


</div>