<!-- header -->
<div class="pageHeader mainTheme">
    <p>Manage Users</p>
</div>

<!-- body -->
<div class="pageBody">

    <div class="search" style="float:left;">
        <form ng-submit="searchUsers()" style="display:inline;">
                <input type="text" ng-model="search"  />
                <input type="submit" value="Search" style="display:inline; margin-top: 0;"/>
        </form>
    </div>
    <div style="float:right;">
        Sort Order
        <select ng-model="userSortOrder">
            <option value="Relevancy">Relevance</option>
            <option value="LastName">Last Name</option>
            <option value="FirstName">First Name</option>
            <option value="Username">Username</option>
            <option value="DateCreated">Date Created</option>
        </select>

        Sort Direction
        <select ng-model="userSortDir">
            <option value="+">Ascending</option>
            <option value="-">Descending</option>
        </select>
    </div>
    <br style="clear:both;"/>

    <div ng-repeat="user in users | orderBy: (userSortDir + userSortOrder)">
        <div class="gridRow">
            <div class="gridCol">
                <a ng-href="#/users/{{user.UserID}}">
                    <div class="thumbnailDiv" style="background-image: url('images/{{user.ThumbnailImage}}')"></div>
                </a>
            </div>
            <div class="gridCol userInfoSection">
                <a ng-href="#/users/{{user.UserID}}"><h4>{{user.FirstName}} {{user.LastName}}</h4></a>

                <p>{{user.Email}}</p>

                <p class="secondaryText">{{user.Username}}</p>
            </div>
            <div class="gridCol" style="float:right;">
                <div class="secondaryText"><em>Created {{user.DateCreated | date : format : shortdate}}</em></div>
            </div>
        </div>
        <br class="clear"/>
    </div>
</div>
